{% extends "base.html" %}
{% block content %}
{% include "chain.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

{% include "header.html" %}

{% include "tab.html" %}
<div style="height:80px;"></div>

<body>


<div class="index_content">

<div class="row">

<div class="col-md-7">
        <div class="card" style="background-color:#2e2f30;">
  <div class="card-body">

     <span id="hour">{{ hour }}:</span><span id="minute">{{ minute }}:</span><span id="second">{{ second }}</span> <span id="time">AM</span>

  </div>
        </div></div>


<div class="col">
        <div class="card" style="text-align:center;background-color:#2e2f30;">
  <div class="card-body">
     <a class="btn btn-sm btn-outline-danger" href="folder">Create Folder</a>&nbsp;
        <a class="btn btn-sm btn-danger" href="write">Write</a>
  </div>
</div>
</div>

    </div>
</div>


</body>
</html>


<script src="{% static 'time.js' %}">

</script>


<footer style="height:120px;">

</footer>
{% endblock %}