{% extends "base.html" %}
{% block content %}
{% include "chain.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

{% include "header.html" %}

{% include "tab.html" %}

<body>

    <div class="content" style="width: 40%;min-width: 270px;">
    {% if user.is_authenticated %}
        <h1>Hello! {{ username }}</h1>
        <a href="logout">Logout</a>
        {% else %}
        <p>Please login to use the web app</p>
        <a href="login">Login</a>
        {% endif %}
    </div>


</body>
</html>


{% endblock %}