{% extends "base.html" %}
{% block content %}
{% include "chain.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
{% include "header.html" %}


<body>


    <div class="content" style="width: 20%;min-width: 270px;">
        {% for mes in messages %}
                {% if 'success' in mes.tags %}
                <div class="alert alert-success" role="alert">
                    {{mes}}!
                </div>
                {% else %}
                <div class="alert alert-danger" role="alert">
                    {{mes}}!
                </div>
                {% endif %}
                {% endfor %}

    <form action="login" method="POST">
            {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input class="form-control" type="text" name="username" style="background-color:#2e2f30;border-color:#2e2f30;color:white;"></div>

            <div class="mb-3">
                <label class="form-label">Password</label>
                <input class="form-control" type="password" name="password" style="background-color:#2e2f30;border-color:#2e2f30;color:white;"></div>

        <button class="btn btn-sm btn-danger" type="submit" style="float:right;margin-bottom:20px;">Sign in</button>
    <label style="float:right;">Create account? <a href="registration" style="text-decoration:none;">Sign up &nbsp;</a></label>
    </form>
        </div>


</body>


</html>


{% endblock %}