



{% extends "base.html" %}
{% block content %}
{% include "chain.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

{% include "header.html" %}

{% include "tab.html" %}
<div style="height:80px;"></div>

<body>

    <div class="content" style="width: 894px;">

        <center>

            <div class="row">
                    {% for folder in folders %}


                <div class="card text-center text-dark" style="width: 18rem;margin-right:20px;background-color:#2e2f30;">
              <div class="card-body">
                 <a href="{% url 'profile2' folder %}"><h5 class="card-title">{{ folder }}</h5>
                            </a>
              </div>
            </div>

                    {% endfor %}
                </div>
            </center>
    </div>


</body>
</html>


<footer style="height:120px;">

</footer>
{% endblock %}