{% extends "base.html" %}
{% block content %}
{% include "chain.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

{% include "header.html" %}


<body>
    <div class="content" style="width: 20%;min-width: 270px;">
        {% for mes in messages %}
                <div class="alert alert-danger" role="alert">
                    {{mes}}!
                </div>
                {% endfor %}
    <form action="registration" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input class="form-control" type="text" name="username"></div>

        <div class="mb-3">
            <label class="form-label">Email address</label>
                <input class="form-control" type="text" name="email"></div>

        <div class="mb-3">
            <label class="form-label">Password</label>
                <input class="form-control" type="password" name="password1"></div>

            <div class="mb-3">
                <label class="form-label">Rewrite Password</label>
                    <input class="form-control" type="password" name="password2"></div>

        <button class="btn btn-sm btn-danger" type="submit" style="float:right;margin-bottom:20px;">Sign up</button>
    <label style="float:right;">&nbsp;Already account? <a href="login" style="text-decoration:none;">Sign in &nbsp;</a></label>
    </form>
        </div>

</body>
</html>

{% endblock %}