{% extends "base.html" %}
{% block content %}
{% include "chain.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

{% include "header.html" %}


<body>

    <div class="content" style="width: 20%;">
    <form action="" method="POST">
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input class="form-control" type="text" name="username"></div>

        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input class="form-control" type="text" name="email"></div>

        <div class="mb-3">
            <label class="form-label">Password</label>
            <input class="form-control" type="password" name="password1"></div>

            <div class="mb-3">
                <label class="form-label">Rewrite Password</label>
                <input class="form-control" type="password" name="password2"></div>

    <label style="float:right;">&nbsp;Already account? <a href="login" style="text-decoration:none;">Sign in</a></label>
        <button class="btn btn-sm btn-primary" type="submit" style="float:right;">Sign up</button>
    </form>
        </div>

</body>
</html>

{% endblock %}