


<div class="content" style="width: 40%;min-width: 360px;">

<nav class="navbar">
   <div class="container-fluid">
    <ul class="nav" style="float:left;">
  <li class="nav-item">
    <a class="nav-link text-light" aria-current="page" href="#">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link text-light" href="#">Setting</a>
  </li>
    </ul>


    <ul class="nav" style="float:right;">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" href="" data-bs-toggle="dropdown">
              {% if user.is_authenticated %}
            {{ user.username|truncatechars:10 }}
              {% else %}
              User
              {% endif %}
          </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown" style="">
    {% if user.is_authenticated %}
        <li>
    <a class="nav-link text-light" href="registration" style="position:relative;left:8px;">Acc Registration</a>
  </li>
  <li>
    <a class="nav-link text-light" href="logout" style="position:relative;left:8px;">Sign out</a>
  </li>
    {% else %}
        <li>
    <a class="nav-link text-light" href="registration" style="position:relative;left:8px;">Acc Registration</a>
  </li>
    <li>
    <a class="nav-link text-light" href="login" style="position:relative;left:8px;">Sign in</a>
  </li>
    {% endif %}
      </ul>
      </li>
  </ul>


   </div>
</nav>

</div>