


<div class="content" style="width: 40%;min-width: 300px;height:50px;">

<nav class="navbar navbar-expand-lg bg-light">
   <div class="container-fluid">
    <ul class="nav" style="float:left;">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Profile</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Setting</a>
  </li>
    </ul>



    <ul class="nav" style="float:right;">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" data-bs-toggle="dropdown">
            {{ user.username }}
          </a>
      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    {% if user.is_authenticated %}
        <li>
    <a class="dropdown-item" href="registration">Acc Registration</a>
  </li>
  <li>
    <a class="dropdown-item" href="logout">Sign out</a>
  </li>
    {% else %}
        <li>
    <a class="dropdown-item" href="registration">Acc Registration</a>
  </li>
    <li>
    <a class="dropdown-item" href="login">Sign in</a>
  </li>
    {% endif %}
      </ul>
      </li>
  </ul>


   </div>
</nav>

</div>