{% extends "base.html" %}
{% block content %}
{% include "chain.html" %}

{% load crispy_forms_tags %}
{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

{% include "header.html" %}

{% include "tab.html" %}
<div style="height:80px;"></div>

<body>

    <div class="content" style="width: 40%;min-width: 270px;">
            <div class="content" style="width: 356px;min-width: 270px;">

                <form action="{% url 'write' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                {{ write|crispy }}
                </div>

                    <a class="btn btn-outline-danger btn-sm" href="/">Back</a>&nbsp;
                <button class="btn btn-success btn-sm" type="submit">Create</button>
                   <lable>&nbsp;Create your folder?</lable> <a href="folder">Create Folder</a>
                </form>
            </div>
    </div>


</body>
</html>


<footer style="height:120px;">

</footer>
{% endblock %}