
body {
    background-color: #212121;
    color: white;
}

.content {
    margin: auto;
    width: 1100px;
}


.index_content {
    margin: auto;
    width: 40%;
    min-width: 640px;
}


.navbar {
    background-color: #2e2f30;
    /*background-color: #28292a;*/
}

.dropdown-menu {
    background-color: #2e2f30;
}


.pro1 {
    color:white;
    box-shadow: 0px 0px 0px 0px rgba(220, 53, 69);
}

.pro1:hover {
    color: #dc3545;
}

@media (max-width:499px)
{
    body {
     margin: auto;
     width: 200px;
    }

    .content {
      margin: auto;
      width: 200px;
    }

}


@media (max-width:600px)
{
    .index_content {
       margin: auto;
       width: 200px;
    }
}


@media (max-width:800px)
{
    .row {
          margin: auto;
          width:410px;
        }
}
