
body {
    background-color: #212121;
    color: white;
}

.content {
    margin: auto;
    width: 1100px;
}

.navbar {
    background-color: #2e2f30;
    /*background-color: #28292a;*/
}

.dropdown-menu {
    background-color: #2e2f30;
}


.pro1 {
    color:white;
    box-shadow: 0px 0px 0px 0px rgba(220, 53, 69);
}

.pro1:hover {
    color: #dc3545;
}